{{!< default}}

<div class="gh-page">
    <div class="gh-container">

        <center>
            <div class="gh-postfeed">

                <div class="gh-card-content" style="text-align: left !important; font-weight: 400 !important;">
                    <h2 style="text-align: left !important; font-weight: 400 !important;">
                    This is Mathscapes — A studio for Math and Algorithms
                    </h2>
                    <p>Mathscapes is committed to advance in the field of algorithm design through mathematical research. Based in Bangalore, Mathscapes study and design algorithms for computational problems. We see algorithmic complexity more than just space and time; and examine how maths may be used to discover and build on other possible parameters that contribute to this complexity. Our projects are primarily research-based and include both — initiated by ourselves and commissioned. Beyond that, we are always keen to undertake projects that pivot on Mathematics and Computer Science.</p>
                    <a href="#">Learn more</a>
                </div>
                
            {{#foreach posts}}

                {{> "card"}} {{!-- partials/card.hbs --}}

            {{/foreach}}
            </div>
        </center>

    </div>
</div>
